<a href="https://colab.research.google.com/github/heloisafr/python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d = (123,['a','b'])
d[-1].append('c')
d

(123, ['a', 'b', 'c'])

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# apenas unidimensional
obj = pd.Series([2,6,87,4,5])
print(obj)

0     2
1     6
2    87
3     4
4     5
dtype: int64

In [ ]:
#transforma ARRAY do numpy em dataframes - unidimensional
array1 = np.array([2,3,9,8])
print('Array', array1)
print('Series', pd.Series(array1))
print()
#transforma ARRAY do numpy em dataframes - multidimensional
array2 = np.array([(2,3,9,8),(5,8,4,7)])
print('Array', array2)
print('DF', pd.DataFrame(array2))

Array [2 3 9 8]
Series 0    2
1    3
2    9
3    8
dtype: int64

Array [[2 3 9 8]
 [5 8 4 7]]
DF    0  1  2  3
0  2  3  9  8
1  5  8  4  7

In [ ]:
alunosDIC = {
    'Nome': ['João', 'Maria', 'Clara', 'Carlos', 'José', 'Jalal'],
    'Nota': [4,7,6.5,9,8,6],
    'Aprovado': ['y','y','n','y','y','y'],
    'extra': ['2019-11-27_12-36-46_UTC','2018-11-27_12-36-46_UTC','2017-11-27_12-36-46_UTC','2016-11-27_12-36-46_UTC','2015-11-27_12-36-46_UTC','2014-11-27_12-36-46_UTC'],
}
alunosDF = pd.DataFrame(alunosDIC, index=alunosDIC['Nome'])
alunosDF.head()

          Nome  Nota Aprovado                    extra
João      João   4.0        y  2019-11-27_12-36-46_UTC
Maria    Maria   7.0        y  2018-11-27_12-36-46_UTC
Clara    Clara   6.5        n  2017-11-27_12-36-46_UTC
Carlos  Carlos   9.0        y  2016-11-27_12-36-46_UTC
José      José   8.0        y  2015-11-27_12-36-46_UTC

In [ ]:
alunosDF

          Nome  Nota Aprovado                    extra
João      João   4.0        y  2019-11-27_12-36-46_UTC
Maria    Maria   7.0        y  2018-11-27_12-36-46_UTC
Clara    Clara   6.5        n  2017-11-27_12-36-46_UTC
Carlos  Carlos   9.0        y  2016-11-27_12-36-46_UTC
José      José   8.0        y  2015-11-27_12-36-46_UTC
Jalal    Jalal   6.0        y  2014-11-27_12-36-46_UTC

In [ ]:
# mostra todas as colunas do dataframe
alunosDF.columns.values

array(['Nome', 'Nota', 'Aprovado', 'extra'], dtype=object)

In [ ]:
alunosDF_selecionado = alunosDF.filter(items=['Nome', 'Nota', 'Aprovado'])
alunosDF_selecionado.head()

          Nome  Nota Aprovado
João      João   4.0        y
Maria    Maria   7.0        y
Clara    Clara   6.5        n
Carlos  Carlos   9.0        y
José      José   8.0        y

In [ ]:
# mostra num de linhas e num de colunas do df
alunosDF.shape

(6, 3)

In [ ]:
# mostra a distribuição dos dados - para as colunas numericas
alunosDF.describe()

           Nota
count  6.000000
mean   6.750000
std    1.724819
min    4.000000
25%    6.125000
50%    6.750000
75%    7.750000
max    9.000000

In [ ]:
# mostra uma coluna - ambos produzem a mesma saida
print(alunosDF['Nome'])
print(alunosDF.Nome)

2019-11-27_12-36-46_UTC      João
2018-11-27_12-36-46_UTC     Maria
2017-11-27_12-36-46_UTC     Clara
2016-11-27_12-36-46_UTC    Carlos
2015-11-27_12-36-46_UTC      José
2014-11-27_12-36-46_UTC     Jalal
Name: Nome, dtype: object
2019-11-27_12-36-46_UTC      João
2018-11-27_12-36-46_UTC     Maria
2017-11-27_12-36-46_UTC     Clara
2016-11-27_12-36-46_UTC    Carlos
2015-11-27_12-36-46_UTC      José
2014-11-27_12-36-46_UTC     Jalal
Name: Nome, dtype: object

In [ ]:
# criando uma coluna a partir de um dicionario
dic = {'n': 'reprovado', 'y': 'aprovado'}
alunosDF['extra'] = [dic[re] for re in alunosDF.Aprovado]
alunosDF.head()

In [ ]:
# coloquei o mesmo index para poder concatenar
outroDIC = {
    'Nome': ['João', 'Clara', 'Carlos', 'José', 'Jalal'],
    'Altura': [200,180,165,175,185]
}
outroDF = pd.DataFrame(outroDIC, index=outroDIC['Nome'])
outroDF.head()

### Renomear Coluna

In [ ]:
alunosDF.rename(columns={'Nome':'name'}, inplace=True)
print(alunosDF)

## Merge / Concat Dataframe

In [ ]:
# https://pandas.pydata.org/docs/user_guide/merging.html

result1 = pd.concat([alunosDF, outroDF], axis=1, join='outer')
print(result1)
print()
result2 = pd.concat([alunosDF, outroDF], axis=1, join='inner')
print(result2)

In [ ]:
# vai colocar "lado a lado" os dfs usando a coluna shortcode como chave
all = pd.merge(df1,df2,on="shortcode")

## Alterar o conteudo da celula

https://sparkbyexamples.com/pandas/pandas-replace-values-based-on-condition/

In [ ]:
df.loc[(df['aux3']==0) & (df['TEXTO']!=''), 'IDIOMA'] = 'emoji'

## Procurar Vazios ou Não Vazios

In [ ]:
# procura por linhas vazias ou nao vazias

corpus[corpus['hashtag'].isnull()]
corpus[corpus['hashtag'].notna()]

## Maneiras de Iterar

In [ ]:
corpus["nova_coluna"] = corpus["text"].apply(lambda t: unidecode(t))
df['f1'] = df2.apply(lambda x: f1(x.precision, x.recall), axis=1)

In [ ]:
def arruma(linha):

  country = linha.COUNTRY1
  if country == '':
    country = linha.COUNTRY2
  if country == '':
    country = linha.COUNTRY3

  return country

dados['COUNTRY'] = [arruma(linha) for linha in dados.itertuples()]

In [ ]:
# iterar no dataframe
for d in dados.itertuples():
  if d.coluna=='texto':
    bruto.append(d)

In [ ]:
  for i, y in dfx.iterrows():
    print(y)

In [ ]:
# pega o valor ao inves do serie
b = bruto[ (bruto['exp']==d.exp) & (bruto['balanceado']==d.balanceado) ]
print(b.accuracy.item())

## Datas

https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/

https://www.geeksforgeeks.org/how-to-convert-datetime-to-date-in-pandas/

https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html

In [ ]:
# Transformo uma coluna com timestamp em formato invalido em uma coluan com DATA
df['DATA'] = pd.to_datetime(df['TIMESTAMP'], format='%Y-%m-%d_%H-%M-%S_UTC').dt.normalize()

## Aggregation

Equivalente a `SELECT SUM(votos) FROM eleicao`

In [ ]:
df['votos'].sum

Equivalente a `SELECT SUM(votos), MIN(votos), MAX(votos), MEAN(votos) FROM eleicao`

In [ ]:
df['votos'].agg(['sum','min','max','mean'])

Equivalente a `SELECT SUM(votos), COUNT(candidato), MAX(votos) FROM eleicao`

In [ ]:
df.agg({
  votos:'sum',
  canditato:'count',
  votos: 'max'
})

Equivalente a `SELECT canditato, SUM(votos) FROM eleicao GROUP BY candidato`

In [ ]:
df.groupby('canditado')['votos'].sum()

## Group by

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

https://sparkbyexamples.com/pandas/pandas-groupby-count-examples/

In [ ]:
df.groupby(['Animal'])

NameError: ignored

In [ ]:
df.groupby(['shortcodea','distancia']).count().sort_values(by=['shortcodea'])

In [ ]:
# Pega linha com maior valor
# shortcodea é a coluna que contem a qtde
# ordena por essa coluna
df.filter(items=['rotulob','motivob','shortcodea']
           ).groupby(['rotulob','motivob']
                     ).count().sort_values("shortcodea").tail(1)

In [ ]:
# Pega o maior valor
# A diferença para o de cima é que essa retorna apenas um inteiro
df.filter(items=['rotulob','motivob','shortcodea']).groupby(['rotulob','motivob']).count().max().item()

O jeito certo de agrupar usando datetime é usar **resample**

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html

In [ ]:
# nesse exemplo agrupo a coluna DATA (que tem dados tipo date) por mês rule=M
dfd.resample(rule='M', on='DATA').count()

            DATA
DATA
2013-12-31     1
2014-01-31     1
2014-02-28     1

In [ ]:
# Nesse exemplo pego o min e max da coluna DATA
dfe['DATA'].agg(['min', 'max'])

min   2012-08-11
max   2021-12-30
Name: DATA, dtype: datetime64[ns]

In [ ]:
# Nesse exemplo pego o min e max da coluna data agrupado por BASE
# https://www.geeksforgeeks.org/max-and-min-date-in-pandas-groupby/
dfe.filter(items=['BASE','DATA']).groupby(['BASE']).agg(Minimum_Date=('DATA', np.min), Maximum_Date=('DATA', np.max))

                   Minimum_Date Maximum_Date
BASE
aguaviva             2021-08-04   2021-12-30
caravelaportuguesa   2012-08-11   2021-05-08
cnidario             2013-04-25   2021-05-18
physaliaphysalis     2021-06-12   2021-12-26

## Order by = sort_values

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

In [ ]:
df.sort_values(by=['col1', 'col2'], ascending=True)

## Comando LOC

In [ ]:
# usando comandao loc

print('Linha 0')
print(alunosDF.loc[[0]])

print('\nLinhas 1 e 2')
print(alunosDF.loc[[1,2]])

print('\nLinhas 2 a 4')
print(alunosDF.loc[2:4])

print('\nLinhas que contém Jalal na coluna Nome')
print(alunosDF.loc[alunosDF['Nome']=='Jalal'])

print('\nLinhas que contém Nota >= 7')
print(alunosDF.loc[alunosDF['Nota']>=7])

print('\nLinhas que contém Nota entre 5 e 7')
print(alunosDF.loc[ (alunosDF['Nota']>=5) & (alunosDF['Nota']<=7) ])

## Checar se uma coluna tem um valor

In [ ]:
# se te o conteudo exato
if (dfs['shortcodeb'].eq('0bRjedvm5r')).any():
  print('tem')

In [ ]:
# se tem parte do conteudo
df['texto'].str.contains('#caravelaportuguesa').any()

In [ ]:
# conta qtas ocorrencias desse conteudo
df['texto'].str.contains('#caravelaportuguesa').sum()

In [ ]:
# filtra pelo valor buscado
corpus[corpus['texto'].str.contains("#caravelaportuguesa")]

In [ ]:
# filtra pelo valor buscado usando RE
corpus.loc[(corpus['text'].str.contains('portugal', regex=True, flags=re.IGNORECASE)==True)]

In [ ]:
# se a coluna texto NAO contém #caravelaportuguesa
df[ ~df['texto'].str.contains('#caravelaportuguesa')]

In [ ]:
# https://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe
# tem outros jeitos

# Se o valor esta na lista
df[df['A'].isin([3, 6])]

# Se o valor não esta na lista
df[~df['A'].isin([3, 6])]

## Excluir colunas e linhas

In [ ]:
# exclui uma coluna do df
alunosDF.drop('extra', axis=1, inplace=True)
alunosDF.head()

In [ ]:
# exclui uma linha pelo index
df_rar.drop(index='2018-11-06_10-30-37_UTC (1)', inplace=True)

In [ ]:
# exclui linhas por uma condição
corpus.drop(corpus[corpus['class']=='ACIDENTE'].index, inplace=True)

## Adicionar linha no Dataframe

Exixtem outros jeitos

In [ ]:
# esse jeito é deprecisado
novo = pd.DataFrame(columns=['SHORTCODE','ROTULO_BINARIO_LORENA','MOTIVO_LORENA','P-MIDIA','P-ESPACIAL','REPETE'])
novo = novo.append({'SHORTCODE': row.SHORTCODE,'ROTULO_BINARIO_LORENA': None,
                        'MOTIVO_LORENA': None,'P-MIDIA': None,'P-ESPACIAL': None,
                        'REPETE': False}, ignore_index=True)

In [ ]:
# Jeito correto
lista = []
lista.append({'distancia':distancia, 'shortcodea':rowa.shortcode})
df = pd.DataFrame.from_records(lista, columns=['distancia', 'shortcodea'])

## Tranformar um Dataframe em Dicionário

In [ ]:
df.to_dict(orient='records')

## Join

In [ ]:
', '.join(df['shortcodeb']

# Criar Dataframe usando uma string

In [ ]:
s = """id       shortcode     proba
77   CXliXRNL9cN  0.987054
96   CXgR0V4r1Xe  0.999926
915  CHGOHpLAZ2L  0.999999
930  B9KWycDAS0C  0.998301"""

In [ ]:
from io import StringIO
proba = pd.read_csv(StringIO(s), sep=r'\s+')
proba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         4 non-null      int64
 1   shortcode  4 non-null      object
 2   proba      4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

# Reindex

In [ ]:
dfs.reset_index(inplace=True, drop=True)