<a href="https://colab.research.google.com/github/heloisafr/python/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inicio

* na formatação ficaram alguns tipos que não achei exemplo no w3school
* O que é esse len function que retorna False - exemplo em Boolean

Ver como proximo
* https://docs.python.org/3/tutorial/index.html
* no kindle tem um livro de python do basico ao avançado

# Variables

Fonte: https://www.w3schools.com/python/python_variables.asp

In [ ]:
# Assing the same value for many variables
x = y = z = "Banana"
print(x,y,z)
del x, y
try:
  print(z)
  print(x,y)
except Exception as e:
  print(str(e))

Banana Banana Banana
Banana
name 'x' is not defined

In [ ]:
a = "Banana"
b = a
print(a,b)
del a
print(b)

Banana Banana
Banana

### Global Variable

All variables that are created outside of a function are known as global variables

In [ ]:
x = "awesome" # global

def myfunc1():
  x = "crazy" # local
  print("1 Python is " + x)

myfunc1()

print("2 Python is " + x)

# You can modify or create a global variable inside a function
def myfunc2():
  global x # modifiing
  global y # creating
  x = "fantastic"
  y = "Im new global"

myfunc2()

print("3 Python is " + x, y)

1 Python is crazy
2 Python is awesome
3 Python is fantastic Im global

### Nonlocal Keyword

The nonlocal keyword is used to work with variables inside nested functions.

In [ ]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    print(x)
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

Jane
hello

# Data Types

Fonte: https://www.w3schools.com/python/python_datatypes.asp

In [ ]:
x = "Helo"
print(x, type(x))
x = 29
print(x, type(x))
x = 20.9
print(x, type(x))
x = 35e2
print(x, type(x))
x = 1j
print(x, type(x))
x = ['a','b','c']
print(x, type(x))
x = ('a','b','c')
print(x, type(x))
x = range(6)
print(x, type(x))
x = {'name':'Jalal', 'age': 40}
print(x, type(x))
x = {'a','b','c'}
print(x, type(x))
x = frozenset({'a','b','c'})
print(x, type(x))
x = True
print(x, type(x))
x = b"Helo"
print(x, type(x))
x = bytearray(5)
print(x, type(x))
x = memoryview(bytes(5))
print(x, type(x))
x = None
print(x, type(x))

Helo <class 'str'>
29 <class 'int'>
20.9 <class 'float'>
1j <class 'complex'>
['a', 'b', 'c'] <class 'list'>
('a', 'b', 'c') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'Jalal', 'age': 40} <class 'dict'>
{'a', 'b', 'c'} <class 'set'>
frozenset({'a', 'b', 'c'}) <class 'frozenset'>
True <class 'bool'>
b'Helo' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7a06ddc90400> <class 'memoryview'>
None <class 'NoneType'>

In [ ]:
x = str("Helo")
print(x, type(x))
x = int(29)
print(x, type(x))
x = float(20.9)
print(x, type(x))
x = complex(1j)
print(x, type(x))
x = list(['a','b','c'])
print(x, type(x))
x = tuple(('a','b','c'))
print(x, type(x))
x = dict({'name':'Jalal', 'age': 40})
print(x, type(x))
x = set({'a','b','c'})
print(x, type(x))
x = frozenset({'a','b','c'})
print(x, type(x))
x = bool(5)
print(x, type(x))
x = bytes(b"Helo")
print(x, type(x))
x = bytearray(5)
print(x, type(x))
x = memoryview(bytes(5))
print(x, type(x))

Helo <class 'str'>
29 <class 'int'>
20.9 <class 'float'>
1j <class 'complex'>
['a', 'b', 'c'] <class 'list'>
('a', 'b', 'c') <class 'tuple'>
{'name': 'Jalal', 'age': 40} <class 'dict'>
{'a', 'b', 'c'} <class 'set'>
frozenset({'a', 'b', 'c'}) <class 'frozenset'>
True <class 'bool'>
b'Helo' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7a06ddc90640> <class 'memoryview'>

# Strings

Metodos

https://www.w3schools.com/python/python_strings_methods.asp

In [ ]:
name = "heloisA Fernanda ROCHA"
print(name)

heloisA Fernanda ROCHA

### Capitalize

Converts the first character to upper case

In [ ]:
print(name.capitalize())

Heloisa fernanda rocha

### Lower | Casefold | IsLower
Casefold is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method

In [ ]:
print(name.casefold())
print(name.lower())

heloisa fernanda rocha
heloisa fernanda rocha

In [ ]:
# The islower() method returns True if all the characters are in lower case, otherwise False.
# Numbers, symbols and spaces are not checked, only alphabet characters.
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

### Count

In [ ]:
# returns the number of times a specified value appears in the string
print(x.count('a'))
print(x.count('a',0,7))

3
1

### Encode

 method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used

In [ ]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

### End With | Start With

In [ ]:
# Returns true if the string ends with the specified value
print(name)
print(name.endswith('a'))
print(name.endswith('A'))
print(name.endswith('A',0,7))

heloisA Fernanda ROCHA
False
True
True

In [ ]:
# method returns True if the string starts with the specified value, otherwise False.
print(name.startswith('h'))
print(name.startswith('H'))
print(name.startswith('F',8))

True
False
True

### Expandtabs

method sets the tab size to the specified number of whitespaces.

In [ ]:
# Default tabsize is 8
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

## Find | Index | Right Find | Right Index

* The method finds the first occurrence of the specified value.

* returns -1 if the value is not found.

* The find() method is almost the same as the **index()** method, the only difference is that the index() method raises an exception if the value is not found.

In [ ]:
print(name)
print(name.find('s'))
print(name.index('s'))
print(name.find('a',8))
print(name.index('a',8))
print(name.find('r',9,10))
try:
  print(name.index('r',9,10))
except Exception as e:
  print(str(e))

heloisA Fernanda ROCHA
5
5
12
12
-1
substring not found

In [ ]:
# method finds the last occurrence of the specified value
print(name)
print(name.rfind('s'))
print(name.rindex('s'))
print(name.rfind('a',8))
print(name.rindex('a',8))
print(name.rfind('r',9,10))
try:
  print(name.rindex('r',9,10))
except Exception as e:
  print(str(e))

heloisA Fernanda ROCHA
5
5
15
15
-1
substring not found

## Formating

Fonte: https://www.w3schools.com/python/python_string_formatting.asp




https://www.w3schools.com/python/ref_string_format.asp

### F-Strings

F-strings are faster than format()

faltou :c :g :n que não tinha no w3scools

In [ ]:
# Add a placeholder for the price variable
age = 36
txt = f"My name is John, I am {age}"
print(txt)

price = 59
txt = f"The price is {price} dollars"
print(txt)

My name is John, I am 36
The price is 59 dollars

**Using Modifiers**

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon **:** followed by a legal **formatting type**

In [ ]:
# Fix point number format:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

txt = f"The price is {price:.3f} dollars"
print(txt)

txt = f"The price is {95:.2f} dollars"
print(txt)

#without the ".2" inside the placeholder, this number will be displayed like this:
txt = f"The price is {45:f} dollars."
print(txt)

The price is 59.00 dollars
The price is 59.000 dollars
The price is 95.00 dollars
The price is 45.000000 dollars.

In [ ]:
# Fix point number format, in uppercase format (show inf and nan as INF and NAN)
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:
x = float('inf')
txt = f"The price is {x:F} dollars."
print(txt)

#same example, but with a lower case f:
txt = f"The price is {x:f} dollars."
print(txt)

The price is INF dollars.
The price is inf dollars.

In [ ]:
# Use a comma or underscore as a thousand separator
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

txt = f"The price is {price:_} dollars"
print(txt)

The price is 59,000 dollars
The price is 59_000 dollars

In [ ]:
# Percentage format

txt = f"You scored {0.255:%}"
print(txt)

txt = f"You scored {0.255:.0%}"
print(txt)

txt = f"You scored {0.255:.2%}"
print(txt)

You scored 25.500000%
You scored 26%
You scored 25.50%

In [ ]:
txt = f"{45:n}"
print(txt)

45

In [ ]:
# set the available space for the value to 8 characters and aling de the value
txt = f"We have \"{49:>8}\" chickens."
print(txt)

txt = f"We have \"{49:<8}\" chickens."
print(txt)

txt = f"We have \"{49:^8}\" chickens."
print(txt)

We have "      49" chickens.
We have "49      " chickens.
We have "   49   " chickens.
The temperature is -      5 degrees celsius.

In [ ]:
# Use "=" to place the plus/minus sign at the left most position
txt = f"The temperature is {-5:=8} degrees celsius."
print(txt)

txt = f"The temperature is {+5:=8} degrees celsius."
print(txt)

The temperature is -      5 degrees celsius.
The temperature is        5 degrees celsius.

In [ ]:
#Use "+" to always indicate if the number is positive or negative:
txt = f"The temperature is between {-3:+} and {7:+} degrees celsius."
print(txt)

#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):
txt = f"The temperature is between {-3:-} and {7:-} degrees celsius."
print(txt)

#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:
txt = f"The temperature is between {-3: } and {7: } degrees celsius."
print(txt)

The temperature is between -3 and +7 degrees celsius.
The temperature is between -3 and 7 degrees celsius.
The temperature is between -3 and  7 degrees celsius.

In [ ]:
#Use "b" to convert the number into binary format:
txt = f"The binary version of 5 is {5:b}"
print(txt)

#Use "d" to convert a number, in this case a binary number,
# into decimal number format:
txt = f"We have {0b101:d} chickens."
print(txt)

The binary version of 5 is 101
We have 5 chickens.

In [ ]:
#Use "e" to convert a number into scientific number format:
txt = f"We have {5:e} chickens."
print(txt)

txt = f"We have {5:E} chickens."
print(txt)

We have 5.000000e+00 chickens.
We have 5.000000E+00 chickens.

In [ ]:
#Use "o" to convert the number into octal format:
txt = f"The octal version of 10 is {10:o}"
print(txt)

The octal version of 10 is 12

In [ ]:
# Hex format
#Use "x" to convert the number into Hex format:
txt = f"The Hexadecimal version of 255 is {255:x}"
print(txt)

txt = f"The Hexadecimal version of 255 is {255:X}"
print(txt)

The Hexadecimal version of 255 is ff
The Hexadecimal version of 255 is FF

**Math Operations**

In [ ]:
# Perform a math operation in the placeholder, and return the result
txt = f"The price is {6 * 10} dollars"
print(txt)

price = 59
tax = 0.25
txt = f"The price is {price + (price * tax)} dollars"
print(txt)

The price is 60 dollars
The price is 73.75 dollars

In [ ]:
# You can perform if...else statements inside the placeholders
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"
print(txt)

It is very Cheap

**Using Functions**

In [ ]:
# You can execute functions inside the placeholder
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

In [ ]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

### Format()

The same **Formatting Types** used in modifiers of F-String can be used in Format()

In [ ]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49 dollars
The price is 49.00 dollars

In [ ]:
quantity = 3
itemno = 567
price = 49
txt = "I want {} pieces of item number {} for {:.2f} dollars."
print(txt.format(quantity, itemno, price))

# Use index numbers to be sure the values are placed in the correct placeholders
txt = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(txt.format(quantity, itemno, price))

# Use named indexes by entering a name inside the curly brackets
txt = "I want {quantity} pieces of item number {itemno} for {price:.2f} dollars."
print(txt.format(quantity = 3, itemno = 567, price = 49))

I want 3 pieces of item number 567 for 49.00 dollars.
I want 3 pieces of item number 567 for 49.00 dollars.
I want 3 pieces of item number 567 for 49.00 dollars.

## Is Alfa | AlfaNumeric | Ascii | Identifier

In [ ]:
# The isalnum() method returns True if all the characters are alphanumeric,
# meaning alphabet letter (a-z) and numbers (0-9).
print("Company".isalnum())
print("Company ".isalnum())
print("Company123".isalnum())

True
False
True

In [ ]:
# method returns True if all the characters are alphabet letters (a-z)
print("Company".isalpha())
print("Company ".isalpha())
print("Company123".isalpha())

True
False
False

In [ ]:
# returns True if all the characters are ascii characters
# https://www.w3schools.com/charsets/ref_html_ascii.asp
print("Company".isascii())
print("Company ".isascii())
print("Company123".isascii())

True
True
True

In [ ]:
# method returns True if the string is a valid identifier, otherwise False.
# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

## Is Decimal | Digit | Numeric

In [ ]:
# method returns True if all the characters are decimals (0-9)
print("123".isdecimal())
print("Company123".isdecimal())
print("\u0030".isdecimal()) #unicode for 0
print("\u00B2".isdecimal()) #unicode for ²
print("-1".isdecimal())
print("1.5".isdecimal())

True
False
True
False
False
False

In [ ]:
# method returns True if all the characters are digits, otherwise False.
# Exponents, like ², are also considered to be a digit.
print("123".isdigit())
print("Company123".isdigit())
print("\u0030".isdigit()) #unicode for 0
print("\u00B2".isdigit()) #unicode for ²
print("-1".isdigit())
print("1.5".isdigit())

True
False
True
True
False
False

In [ ]:
print("123".isnumeric())
print("Company123".isnumeric())
print("\u0030".isnumeric()) #unicode for 0
print("\u00B2".isnumeric()) #unicode for ²
print("-1".isnumeric())
print("1.5".isnumeric())

True
False
True
True
False
False

## Is Printable

method returns True if all the characters are printable, otherwise False.

In [ ]:
print("Hello! Are you #1?".isprintable())
print("Hello!\nAre you #1?".isprintable())
print("""Hello!
Are you #1?""".isprintable())

True
False
False

## Is Space

method returns True if all the characters in a string are whitespaces, otherwise False

In [ ]:
print("".isspace())
print(" ".isspace())
print("  ".isspace())
print("  s  ".isspace())

False
True
True
False

## Join

method takes all items in an iterable and joins them into one string.

In [ ]:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [ ]:
x = "#".join(["Jalal","Faraj"])
print(x)

Jalal#Faraj

In [ ]:
# When using a dictionary as an iterable, the returned values are the keys, not the values.
myDict = {"name": "John", "country": "Norway", "age": 40}
mySeparator = "#"

x = mySeparator.join(myDict)

print(x)

name#country#age

## Padding: Center | Left | Right

These method will align the string, using a specified character (space is default) as the fill character.

In [ ]:
# method will center align the string,
print(name.center(30, "_"))

____heloisA Fernanda ROCHA____

In [ ]:
# method will left align the string
print(name.ljust(30, "_"))

heloisA Fernanda ROCHA________

In [ ]:
# method will right align the string
print(name.rjust(30, "_"))

________heloisA Fernanda ROCHA

In [ ]:
# method adds zeros (0) at the beginning of the string, until it reaches the specified length
print(name.zfill(30))
print("123".zfill(10))

00000000heloisA Fernanda ROCHA
0000000123

## Partition | Right Partition

method searches for a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

In [ ]:
txt = "I could eat bananas all day, bananas are my favorite fruit"
print(txt.partition("bananas"))
print(txt.rpartition("bananas"))

('I could eat ', 'bananas', ' all day, bananas are my favorite fruit')
('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [ ]:
# If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string
print(txt.partition("apples"))
print(txt.rpartition("apples"))

('I could eat bananas all day, bananas are my favorite fruit', '', '')
('', '', 'I could eat bananas all day, bananas are my favorite fruit')

## Replace

In [ ]:
txt = "I like bananas bananas"
print(txt)
print(txt.replace("bananas","apples"))
print(txt.replace("bananas","apples", 1))

I like bananas bananas
I like apples apples
I like apples bananas

## Split | Right Split | SplitLines

In [ ]:
txt = "I like banana, apple, orange and kiwi"
print(txt.split())
print(txt.split(','))
print(txt.split(None, 2))

['I', 'like', 'banana,', 'apple,', 'orange', 'and', 'kiwi']
['I like banana', ' apple', ' orange and kiwi']
['I', 'like', 'banana, apple, orange and kiwi']

In [ ]:
print(txt.rsplit())
print(txt.rsplit(','))
print(txt.rsplit(None, 2))

['I', 'like', 'banana,', 'apple,', 'orange', 'and', 'kiwi']
['I like banana', ' apple', ' orange and kiwi']
['I like banana, apple, orange', 'and', 'kiwi']

In [ ]:
txt = "Thank you for the music\nWelcome to the jungle"
print(txt.splitlines())
print(txt.splitlines(True)) # Specifies if the line breaks should be included

['Thank you for the music', 'Welcome to the jungle']
['Thank you for the music\n', 'Welcome to the jungle']

## Strip | LeftStrip | RightStrip

In [ ]:
x = "   banana   "
print("of all fruits", x, "is my favorite")
print("of all fruits", x.strip(), "is my favorite")
print("of all fruits", x.lstrip(), "is my favorite")
print("of all fruits", x.rstrip(), "is my favorite")

y = "  ...,,,uva...,,,  "
print("of all fruits", y, "is my favorite")
print("of all fruits", y.strip('., '), "is my favorite")
print("of all fruits", y.lstrip('., '), "is my favorite")
print("of all fruits", y.rstrip('., '), "is my favorite")

of all fruits    banana    is my favorite
of all fruits banana is my favorite
of all fruits banana    is my favorite
of all fruits    banana is my favorite
of all fruits   ...,,,uva...,,,   is my favorite
of all fruits uva is my favorite
of all fruits uva...,,,   is my favorite
of all fruits   ...,,,uva is my favorite

## Title | Is Title



Symbols and numbers are ignored

In [ ]:
# method returns a string where the first character in every word is upper case.
print(name)
print(name.title())

heloisA Fernanda ROCHA
Heloisa Fernanda Rocha

In [ ]:
# method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"
e = "Heloisa Fernanda Rocha"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())
print(e.istitle())

False
True
True
True
True

## Translation

The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the maketrans() method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

If you use a dictionary, you must use ascii codes instead of characters.

https://www.w3schools.com/python/ref_string_translate.asp

In [ ]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [ ]:
# The third parameter in the mapping table describes characters that you want to remove from the string:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "God"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

# The maketrans() method itself returns a dictionary describing each replacement, in unicode
print(str.maketrans(x, y, z))

 night Joe!
{109: 101, 83: 74, 97: 111, 71: None, 111: None, 100: None}

## Swap Case

method returns a string where all the upper case letters are lower case and vice versa.

In [ ]:
print(name)
print(name.swapcase())

heloisA Fernanda ROCHA
HELOISa fERNANDA rocha

## Upper | Is Upper

In [ ]:
print(name.upper())

HELOISA FERNANDA ROCHA

In [ ]:
print("Hello World!".isupper())
print("hello 123".isupper())
print("MY NAME IS PETER".isupper())
print("HELLO 123".isupper())

False
False
True
True

# Booleans

Fonte: https://www.w3schools.com/python/python_booleans.asp

**Most Values are True**

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

**Few Values are False**

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

**Len Function**

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a ```__len__``` function that returns 0 or False:

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

# Operators

https://www.w3schools.com/python/python_operators.asp

### Arithmetic Operators

In [ ]:
# Curiosidade: Posso usar o _ como separador de milhar 1_000 é o mesmo que 1000
1_000/3

333.3333333333333

In [ ]:
# Floor division
# Usando // retorna o numero inteiro
1000//3

333

In [ ]:
# Posso multiplicar strings
2 * 'A'

'AA'

### Assignment Operators

In [ ]:
x = 5
print(x)
x += 3
print("Soma", x)
x = 5
x -= 3
print("Subtração", x)
x = 5
x *= 3
print("Multiplicação", x)
x = 5
x /= 3
print("Divisão", x)
x = 5
x //= 3
print("Floor division", x)
x = 5
x %= 3
print("Molulo", x)
x = 5
x **= 3
print("Exponenciação", x)

5
Soma 8
Subtração 2
Multiplicação 15
Divisão 1.6666666666666667
Floor division 1
Molulo 2
Exponenciação 125

Molulo 2
Exponenciação 125

In [ ]:
x = 5
x &= 3
print("", x)
x = 5
x |= 3
print("", x)
x = 5
x ^= 3
print("", x)
x = 5
x >>= 3
print("", x)
x = 5
x <<= 3
print("", x)
# x = 5
# x := 3
# print(x)

 1
 7
 6
 0
 40

### Bitwise Operators

Bitwise operators are used to compare (binary) numbers:

In [ ]:
"""
AND
The & operator compares each bit and set it to 1 if both are 1,
otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
"""
print(6 & 3)

2

In [ ]:
"""
OR
The | operator compares each bit and set it to 1 if one or both is 1,
otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
"""
print(6 | 3)

7

In [ ]:
"""
XOR
The ^ operator compares each bit and set it to 1 if only one is 1,
otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
"""
print(6 ^ 3)

In [ ]:
"""
NOT
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100
"""
print(~3)

-4

In [ ]:
"""
Zero fill left shift
The << operator inserts the specified number of 0's (in this case 2)
from the right and let the same amount of leftmost bits fall off:

If add 2 zeros to right (and pull off 2 bits from the left)
3 = 0000000000000011
becomes
12 = 0000000000001100
"""
print(3 << 2)

12

In [ ]:
"""
The >> operator moves each bit the specified number of times to the right.
Empty holes at the left are filled with 0's.

If add 2 zeros to left (and pull off 2 bits from the right)
8 = 0000000000001000
becomes
2 = 0000000000000010
 """
print(8 >> 2)

# Lists

List is a collection which is ordered (indexed) and changeable. Allows duplicate members.

Fonte: https://www.w3schools.com/python/python_lists.asp

In [ ]:
names = ['Maria', 'José', 'Carlos', 'Camila','Darci']
print('Type:', type(names))
print(names)

Type: <class 'list'>
['Maria', 'José', 'Carlos', 'Camila', 'Darci']

In [ ]:
# It is also possible to use the list() constructor when creating a new list
a = list((1,2,3))
a

[1, 2, 3]

### Changing Elements

In [ ]:
print(names)
names[2] = "Carolina"
print(names)

['Maria', 'José', 'Carlos', 'Camila', 'Darci']
['Maria', 'José', 'Carolina', 'Camila', 'Darci']

In [ ]:
a = [1, 2, 3, 4, 5]
a[1:3] = ["a", "b"]
print(a)

[1, 'a', 'b', 4, 5]

In [ ]:
# If you insert more items than you replace,
# the new items will be inserted where you specified,
# and the remaining items will move accordingly
a = [1, 2, 3, 4, 5]
a[1:2] = ["x", "y"]
print(a)

[1, 'x', 'y', 3, 4, 5]

In [ ]:
# If you insert less items than you replace,
# the new items will be inserted where you specified,
# and the remaining items will move accordingly
# No exemplo é como se colocasse o h no lugar do 2 e 3
a = [1, 2, 3, 4, 5]
a[1:3] = ["h"]
print(a)

[1, 'h', 4, 5]

### Adding Elements - Append/Insert/Extend

In [ ]:
# appends an element to the end of the list
names.append("Maria")
names

['Maria', 'José', 'Carolina', 'Camila', 'Darci', 'Maria']

In [ ]:
# It is possibile to add a list, tuple, dict using append
a = ["apple", "banana", "cherry"]
a.append(["alface","tomate"])
a.append(("nozes","castanha"))
a.append({"nome":"feijão"})
a

['apple',
 'banana',
 'cherry',
 ['alface', 'tomate'],
 ('nozes', 'castanha'),
 {'nome': 'feijão'}]

In [ ]:
# Adds an element at the specified position
print(names)
names.insert(1, 'Joel')
names.insert(-1, 'Marcio') # Note que aqui -1 é penultimo elemento
print(names)

['Maria', 'José', 'Carolina', 'Camila', 'Darci', 'Maria']
['Maria', 'Joel', 'José', 'Carolina', 'Camila', 'Darci', 'Marcio', 'Maria']

### Join (or Concatenate) Lists

In [ ]:
# Using the + operator
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Appende the itens from a list into other list, one by one
a = ['a','b','c']
b = ['d','e','f']
for x in b:
  a.append(x)
print(a)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# adds the specified list elements (or any iterable - list, set, tuple) to the end of the current list.
# pode ser entendido como merge
print(names)
names.extend(['Jalal','Heloisa'])
names.extend(('Ana','Fernando'))
names.extend({"nome":"Sirlei"}) # Note que vai add a chave e não value
print(names)

['Maria', 'Joel', 'José', 'Carolina', 'Camila', 'Darci', 'Marcio', 'Maria']
['Maria', 'Joel', 'José', 'Carolina', 'Camila', 'Darci', 'Marcio', 'Maria', 'Jalal', 'Heloisa', 'Ana', 'Fernando', 'nome']

### Searching Elements - by value and index

In [ ]:
# Returns the number of elements with the specified value
names.count('Maria')

2

In [ ]:
# Returns the index of the first element with the specified value
names.index("José")

2

In [ ]:
"Maria" in names

True

### Removing Elements

In [ ]:
# Removes the first item with the specified value
print(names)
names.remove('Maria')
print(names)

['Maria', 'Joel', 'José', 'Carolina', 'Camila', 'Darci', 'Marcio', 'Maria', 'Jalal', 'Heloisa', 'Ana', 'Fernando', 'nome']
['Joel', 'José', 'Carolina', 'Camila', 'Darci', 'Marcio', 'Maria', 'Jalal', 'Heloisa', 'Ana', 'Fernando', 'nome']

In [ ]:
print(names)
del names[2]
print(names)

['Joel', 'José', 'Carolina', 'Camila', 'Darci', 'Marcio', 'Maria', 'Jalal', 'Heloisa', 'Ana', 'Fernando', 'nome']
['Joel', 'José', 'Camila', 'Darci', 'Marcio', 'Maria', 'Jalal', 'Heloisa', 'Ana', 'Fernando', 'nome']

In [ ]:
# Removes the element by index
# Se não especificado vai remover o último
print(names)
removido1 = names.pop(2)
removido2 = names.pop(-1) # Note que aqui -1 é o ultimo
print(removido1)
print(removido2)
print(names)

['Joel', 'José', 'Camila', 'Darci', 'Marcio', 'Maria', 'Jalal', 'Heloisa', 'Ana', 'Fernando', 'nome']
Camila
nome
['Joel', 'José', 'Darci', 'Marcio', 'Maria', 'Jalal', 'Heloisa', 'Ana', 'Fernando']

In [ ]:
# Removes all the elements from the list
a = [1,2,3]
print(a)
a.clear()
a

[1, 2, 3]

[]

In [ ]:
# Remove de entire list
a = [1, 2, 3]
print(a)
del a
try:
  print(a)
except Exception as e:
  print(str(e))

[1, 2, 3]
name 'a' is not defined

### Coping

In [ ]:
# Returns a copy of the list
names2 = names.copy()
names3 = names[:]
names4 = names[::]
names5 = list(names)
print(names)
names2.pop(1)
print(names2)
names3.pop(2)
print(names3)
names4.pop(4)
print(names4)
names5.pop(5)
print(names5)
print(names)

['Ana', 'Joel', 'Maria', 'Jalal', 'Darci', 'Marcio', 'Heloisa', 'Fernando']
['Ana', 'Maria', 'Jalal', 'Darci', 'Marcio', 'Heloisa', 'Fernando']
['Ana', 'Joel', 'Jalal', 'Darci', 'Marcio', 'Heloisa', 'Fernando']
['Ana', 'Joel', 'Maria', 'Jalal', 'Marcio', 'Heloisa', 'Fernando']
['Ana', 'Joel', 'Maria', 'Jalal', 'Darci', 'Heloisa', 'Fernando']
['Ana', 'Joel', 'Maria', 'Jalal', 'Darci', 'Marcio', 'Heloisa', 'Fernando']

### Ordering

In [ ]:
# sort ascending
names.sort()
print(names)

['Ana', 'Darci', 'Fernando', 'Heloisa', 'Jalal', 'Joel', 'José', 'Marcio', 'Maria']

In [ ]:
# sort descending
names.sort(reverse=True)
print(names)

['Maria', 'Marcio', 'José', 'Joel', 'Jalal', 'Heloisa', 'Fernando', 'Darci', 'Ana']

In [ ]:
# sort using a function
def orderByLenght(e):
  return len(e)

names.sort(key=orderByLenght)
print(names)

['Ana', 'José', 'Joel', 'Maria', 'Jalal', 'Darci', 'Marcio', 'Heloisa', 'Fernando']

In [ ]:
# Usando um valor dentro do dicionario
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
cars

[{'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'VW', 'year': 2011},
 {'car': 'BMW', 'year': 2019}]

In [ ]:
# By default sort() method is case sensitive
a = ["banana", "Orange", "Kiwi", "cherry"]
a.sort()
print("Sensitive", a)
a.sort(key = str.lower)
print("Insensitive", a)

Sensitive ['Kiwi', 'Orange', 'banana', 'cherry']
Insensitive ['banana', 'cherry', 'Kiwi', 'Orange']

### Reverses

In [ ]:
# Reverses the order of the list
# Esse cara altera a lista
print(names)
names.reverse()
print(names)

['Joel', 'José', 'Darci', 'Marcio', 'Maria', 'Jalal', 'Heloisa', 'Ana', 'Fernando']
['Fernando', 'Ana', 'Heloisa', 'Jalal', 'Maria', 'Marcio', 'Darci', 'José', 'Joel']

In [ ]:
# Retorna a lista com ordem invertida
# Esse cara não altera lista - ele cria uma copia
reverted = names[::-1]
print('Original', names)
print('Copy', reverted)

Original ['Fernando', 'Ana', 'Heloisa', 'Jalal', 'Maria', 'Marcio', 'Darci', 'José', 'Joel']
Copy ['Joel', 'José', 'Darci', 'Marcio', 'Maria', 'Jalal', 'Heloisa', 'Ana', 'Fernando']

In [ ]:
# Retorna a lista com ordem invertida - pulando de 2 em 2
reverted = names[::-2]
print('Original', names)
print('Copy', reverted)

Original ['Fernando', 'Ana', 'Heloisa', 'Jalal', 'Maria', 'Marcio', 'Darci', 'José', 'Joel']
Copy ['Joel', 'Darci', 'Maria', 'Heloisa', 'Fernando']

# Tuples

Tuple is a collection which is ordered (indexed) and unchangeable. Allows duplicate members.

In [ ]:
frutas = ("maça", "banana", "caju", "banana", "goiaba")
print(type(frutas))
print(frutas)

<class 'tuple'>
('maça', 'banana', 'caju', 'banana', 'goiaba')

In [ ]:
a = tuple(("maça", "banana", "caju", "banana"))
a

('maça', 'banana', 'caju', 'banana')

### Acess Values

Using slicing - like in LISTS

In [ ]:
print(frutas)
print(frutas[0])
print(frutas[-1])
print(frutas[1:4])
print(frutas[2:])
print(frutas[-4:-1])

('maça', 'banana', 'caju', 'banana', 'goiaba')
maça
goiaba
('banana', 'caju', 'banana')
('caju', 'banana', 'goiaba')
('banana', 'caju', 'banana')

### Searching in Elements - by value ou index

In [ ]:
print(frutas)
frutas.count("banana")

('maça', 'banana', 'caju', 'banana', 'goiaba')

2

In [ ]:
# Search for the first occurrence of the value, and return its position
print(frutas)
frutas.index("banana")

('maça', 'banana', 'caju', 'banana', 'goiaba')

1

In [ ]:
"maça" in frutas

True

### Changing Tuples

In [ ]:
# Transforma a tupla em uma lista e pode altera-la normalmente
print(frutas)
list_frutas = list(frutas)
list_frutas.append("uva")
frutas = tuple(list_frutas)
print(frutas)

('maça', 'banana', 'caju', 'banana', 'goiaba')
('maça', 'banana', 'caju', 'banana', 'goiaba', 'uva')

In [ ]:
# Add elements usando operador
# Modifica a tupla
print(frutas)
a = ("laranja", "pera")
frutas += a
print(frutas)

('maça', 'banana', 'caju', 'banana', 'goiaba', 'uva')
('maça', 'banana', 'caju', 'banana', 'goiaba', 'uva', 'laranja', 'pera')

### Operacoes - Soma (Merge) e Multiplicação

In [ ]:
# Merge - cria uma nova tupla ou alterar a tupla existente
a = ("1", "2")
b = ("3", "4")
c = a + b
print("Nova", c)
a += b
print("Original alterada", a)

Nova ('1', '2', '3', '4')
Original alterada ('1', '2', '3', '4')

In [ ]:
# Multiplicar
a = ("1", "2")
b = a * 2
print("Nova", b)
a *= 2
print("Original alterada", a)

Nova ('1', '2', '1', '2')
Original alterada ('1', '2', '1', '2')

### Deletar uma Tupla

In [ ]:
b = ("1", "2", "3")
print(b)
del b
try:
  print(b)
except Exception as e:
  print(str(e))

('1', '2', '3')
name 'b' is not defined

# Sets

A set is a collection which is unordered (indexed), unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(type(thisset))
print(thisset)

<class 'set'>
{'apple', 'banana', 'cherry'}

In [ ]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
# do not allow duplicate values
thisset = {"apple", "banana", "banana", "cherry"}
print(thisset)

# True and 1 is considered the same value in sets.
# Also The values False and 0 are considered the same value
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'apple', 'banana', 'cherry'}
{True, 2, 'apple', 'banana', 'cherry'}

## Acess Values

Since the set is not indexed, the only ways to acess values from a set is using loop or in

In [ ]:
"banana" in thisset

True

## Add Item to Set

In [ ]:
# Add values
print(thisset)
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'cherry'}
{'apple', 'banana', 'orange', 'cherry'}

## Remove Item

In [ ]:
print(thisset)
thisset.remove("papaya")
print(thisset)

thisset.discard("orange")
print(thisset)

{'tangerina', 'goiaba', 'orange', 'apple', 'uva', 'kiwi', 'cherry', 'papaya', 'pineapple', 'banana', 'mango'}
{'tangerina', 'goiaba', 'orange', 'apple', 'uva', 'kiwi', 'cherry', 'pineapple', 'banana', 'mango'}
{'tangerina', 'goiaba', 'apple', 'uva', 'kiwi', 'cherry', 'pineapple', 'banana', 'mango'}

In [ ]:
# If the item to remove does not exist, remove() will raise an error
try:
  thisset.remove("rosas")
except KeyError as e:
  print('erro ao remover rosas')

# otherwise discard() will NOT raise an error.
thisset.discard("caramelo")
print(thisset)

erro ao remover rosas
{'tangerina', 'goiaba', 'apple', 'uva', 'kiwi', 'cherry', 'pineapple', 'banana', 'mango'}

In [ ]:
# Remove a random item by using the pop() method
print(thisset)
x = thisset.pop()
print(x)
print(thisset)

{'apple', 'cherry', 'uva', 'pineapple', 'banana', 'mango', 'kiwi'}
apple
{'cherry', 'uva', 'pineapple', 'banana', 'mango', 'kiwi'}

## Copy Sets

In [ ]:
print(thisset)
x = thisset.copy()
x.add("1")
print(x)

del x
print(thisset)

{'tangerina', 'goiaba', 'apple', 'uva', 'kiwi', 'cherry', 'pineapple', 'banana', 'mango'}
{'tangerina', 'apple', 'cherry', 'uva', 'pineapple', '1', 'goiaba', 'banana', 'mango', 'kiwi'}
{'tangerina', 'goiaba', 'apple', 'uva', 'kiwi', 'cherry', 'pineapple', 'banana', 'mango'}

## Clear/Del

In [ ]:
# The clear() method empties the set
thisset = {"apple", "banana", "cherry"}
print(thisset)
thisset.clear()
print(thisset)

{'apple', 'banana', 'cherry'}
set()

In [ ]:
# The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}
print(thisset)
del thisset
try:
  print(thisset)
except Exception as e:
  print(e)

{'apple', 'banana', 'cherry'}
name 'thisset' is not defined

## Join Sets

There are several ways to join two or more sets in Python.

The **union()** and **update()** methods joins all items from both sets.

The **intersection()** method keeps ONLY the duplicates.

The **difference()** method keeps the items from the first set that are not in the other set(s).

The **symmetric_difference()** method keeps all items EXCEPT the duplicates.

### Update

In [ ]:
set1 = {"a", "b", "c"}
set1.update({"pineapple", "mango", "papaya"}) #set
set1.update(["kiwi", "uva"]) # list
set1.update(("goiaba", "tangerina")) # tuple
print(set1)

# o shortcut |= não aceita outros tipos que não sejam set
set1 = {"a", "b", "c"}
set1 |= {"pineapple", "mango", "papaya"} | {"John", "Elena"}
print(set1)

{'mango', 'c', 'uva', 'kiwi', 'b', 'tangerina', 'a', 'goiaba', 'papaya', 'pineapple'}
{'Elena', 'pineapple', 'John', 'a', 'mango', 'papaya', 'c', 'b'}

### Union

The diference between union and update, is that update will change the actual set, and the union will create a new set

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3, "a"}
set3 = {"John", "Elena"}
tuple1 = (1,2,5,6,7)

setn = set1.union(set2, set3, tuple1)
print(setn)

# The  | operator only allows you to join sets only with other sets
setn = set1 | set2 | set3
print(setn)

{1, 2, 3, 5, 6, 7, 'b', 'a', 'John', 'c', 'Elena'}
{1, 2, 3, 'a', 'John', 'c', 'Elena', 'b'}

### Intersections

**intersection()** returns a set, that is the intersection of two other sets

Keeping ONLY the duplicates

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple", "banana"}
set3 = {"google", "microsoft", "banana"}

setn = set1.intersection(set2, set3)
print(setn)

setn = set1 & set2 & set3
print(setn)

{'banana'}
{'banana'}

The **intersection_update()**
method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set

In [ ]:
set1.intersection_update(set2, set3)
print(set1)

set1 = {"apple", "banana", "cherry"}
set1 &= set2 & set3
print(set1)

{'banana'}
{'banana'}

### Difference

The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [ ]:
set1 = {"apple", "banana", "cherry","uva"}
set2 = {"google", "microsoft", "apple"}
set3 = {"google", "microsoft", "banana"}

setn = set1.difference(set2, set3)
print(setn)

setn = set1 - set2 - set3
print(setn)

{'cherry', 'uva'}
{'cherry', 'uva'}

Use the difference_update() method to keep the items that are not present in both sets

In [ ]:
set1.difference_update(set2, set3)
print(set1)

set1 = {"apple", "banana", "cherry","uva"}
set1 -= set2 | set3
print(set1)

{'cherry', 'uva'}
{'cherry', 'uva'}

### Symmetric Differences

The **symmetric_difference()** method will keep only the elements that are NOT present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

setn = set1.symmetric_difference(set2)
print(setn)

setn = set1 ^ set2
print(setn)

{'microsoft', 'cherry', 'google', 'banana'}
{'microsoft', 'cherry', 'google', 'banana'}

The **symmetric_difference_update()** method will also keep all but the duplicates, but it will change the original set instead of returning a new set

In [ ]:
set1.symmetric_difference_update(set2)
print(set1)

set1 = {"apple", "banana", "cherry"}
set1 ^= set2
print(set1)

{'microsoft', 'cherry', 'google', 'banana'}
{'microsoft', 'cherry', 'google', 'banana'}

## Comparing Sets

The **isdisjoint()** method returns False if one or more items are present in both sets, otherwise it returns True.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {"f", "e", "d", "c", "b", "a"}

print(set1.isdisjoint(set2))

False

The **issubset()** method returns True if all items in the set exists in the specified set, otherwise it returns False

In [ ]:
print(set1.issubset(set2))

print(set1 <= set2)

print(set1 < set2)

True
True
True

In [ ]:
x = {"a", "b", "apple"}
y = {"f", "e", "d", "c", "b", "a"}

print(x.issubset(y))
print(x <= y)
print(x < y)

False
False
False

The **issuperset()** method returns True if all items in the specified set exists in the original set, otherwise it returns False.

In [ ]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

print(x.issuperset(y))
print(x >= y)
print(x > y)

True
True
True

# Dictionaries

A dictionary is a collection which is ordered (indexed), changeable and do not allow duplicates (key duplicated - duplicate key will overwrite existing values).

https://www.w3schools.com/python/python_dictionaries.asp

**In Python 3.6 and earlier, dictionaries are unordered

In [ ]:
d =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(type(d))
print(d)

d = dict(name = "John", age = 36, country = "Norway")
print(d)

family = {
    'child1': {
      "name" : "Linus",
      "year" : 2011
    },
    'child2': {
      "name" : "Tobias",
      "year" : 2007
    }
}
print(family)

<class 'dict'>
{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
{'name': 'John', 'age': 36, 'country': 'Norway'}
{'child1': {'name': 'Linus', 'year': 2011}, 'child2': {'name': 'Tobias', 'year': 2007}}

The **fromkeys()** method returns a dictionary with the specified keys and the specified value.

In [ ]:
x = ('key1', 'key2', 'key3')
y = 0

d1 = dict.fromkeys(x, y)
print(d1)

d2 = dict.fromkeys(x)
print(d2)

d3 = dict.fromkeys(['1','2','3'])
print(d3)

d4 = dict.fromkeys(('fruta','verdura','semente'))
print(d4)

{'key1': 0, 'key2': 0, 'key3': 0}
{'key1': None, 'key2': None, 'key3': None}
{'1': None, '2': None, '3': None}
{'fruta': None, 'verdura': None, 'semente': None}

## Acessing Items

In [ ]:
# The keys() method will return a list of all the keys in the dictionary
print(d.keys())

dict_keys(['name', 'age', 'country'])

In [ ]:
# The values() method will return a list of all the values in the dictionary.
print(d.values())

dict_values(['John', 36, 'Norway'])

In [ ]:
# The items() method will return each item in a dictionary, as tuples in a list
print(d.items())

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])

In [ ]:
print(d['name'])
print(d.get('name'))

John
John

In [ ]:
print(family['child1']['name'])
print(family.get('child1'))
print(family['child1'].get('name'))

Linus
{'name': 'Linus', 'year': 2011}
Linus

The **setdefault()** method returns the value of the item with the specified key.

If the key does not exist, insert the key, with the specified value

In [ ]:
print(d.setdefault('name','Não Informado'))

John

In [ ]:
print(d.setdefault('prato_favorito','lasanha'))

lasanha

In [ ]:
print(d.setdefault('cor_favorita'))

None

## Change/Add Values

In [ ]:
print(d)
d['name'] = 'Mary'
d['language'] = 'Spanish'
d.update({'age': 25})
d.update({'pet': 'cat'})
print(d)

{'name': 'Mary', 'age': 25, 'country': 'Norway'}
{'name': 'Mary', 'age': 25, 'country': 'Norway', 'language': 'Spanish', 'pet': 'cat'}

## Remove Itens

In [ ]:
# The pop() method removes the item with the specified key name:
print(d)
item = d.pop('pet')
print('removed:', item)
del d['age']
print(d)

{'name': 'Mary', 'age': 25, 'country': 'Norway', 'language': 'Spanish', 'pet': 'cat'}
removed: cat
{'name': 'Mary', 'country': 'Norway', 'language': 'Spanish'}

In [ ]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
print(d)
item = d.popitem()
print('removed:', item)
print(d)

{'name': 'Mary', 'country': 'Norway', 'language': 'Spanish'}
removed: ('language', 'Spanish')
{'name': 'Mary', 'country': 'Norway'}

## Clear/Del

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
try:
  print(thisdict)
except Exception as e:
  print(e)

name 'thisdict' is not defined

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Copy

In [ ]:
# You cannot copy a dictionary simply by typing dict2 = dict1,
# because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2
d1 =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d2 = d1
d2.pop('brand')
print(d1)

{'model': 'Mustang', 'year': 1964}

In [ ]:
d1 =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d2 = d1.copy()
d2.pop('brand')
print(d1)
print(d2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'model': 'Mustang', 'year': 1964}

In [ ]:
d1 =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d2 = dict(d1)
d2.pop('brand')
print(d1)
print(d2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'model': 'Mustang', 'year': 1964}

# Slicing In Lists | Tuple | Strings

Syntax: **variable_name[start:end:step]**

**start** (optional): The index of the first element to include (defaults to 0, the beginning).

**end** (optional): The index of the element just after the last element to include (defaults to the end of the sequence).

**step** (optional): The step size between elements (defaults to 1, including every element). The end index is exclusive, meaning the element at that index isn't included in the slice.

Slicing creates a new list, it doesn't modify the original.

Slicing uses zero-based indexing, similar to accessing elements directly.

Can be used to reverse de list - see Reverses topic below

Can be used with **LISTs** and **TUPLEs** and **STRINGS**

In [ ]:
print(names)
names[0]

['Maria', 'José', 'Carlos', 'Camila', 'Darci']

'Maria'

In [ ]:
# Usando indices negativos retorna os elementos do fim para o inicio
print(names)
names[-1]

['Maria', 'José', 'Carlos', 'Camila', 'Darci']

'Darci'

In [ ]:
# Pega do 0 ao 3 - equivale a names[0:4:None]
parte = names[:4]
print(names)
parte

['Maria', 'José', 'Carlos', 'Camila', 'Darci']

['Maria', 'José', 'Carlos', 'Camila']

In [ ]:
# Pega do 0 até o penúltimo elemento - equivale a names[0:-1]
parte = names[:-1]
print(names)
parte

['Maria', 'José', 'Carlos', 'Camila', 'Darci']

['Maria', 'José', 'Carlos', 'Camila']

In [ ]:
# Pega do 1 ao 3
parte = names[1:4]
print(names)
parte

['Maria', 'José', 'Carlos', 'Camila', 'Darci']

['José', 'Carlos', 'Camila']

In [ ]:
# Pega uma parte pulando de 2 em 2
parte = names[::2]
print(names)
print(parte)

['Maria', 'José', 'Carlos', 'Camila', 'Darci']
['Maria', 'Carlos', 'Darci']

# Unpacking - Lists | Tuples

It can be doing with Lists too

In [ ]:
colors = ("vermelho", "azul", "amarelo")
print(colors)
(red, blue, yellow) = colors
print(red)
print(blue)
print(yellow)

('vermelho', 'azul', 'amarelo')
vermelho
azul
amarelo

In [ ]:
# you can add an * to the variable name and the values will be assigned to the variable as a list
colors = ("vermelho", "azul", "amarelo", "roxo", "rosa")
print(colors)
(red, blue, *resto) = colors
print(red)
print(blue)
print(resto)

('vermelho', 'azul', 'amarelo', 'roxo', 'rosa')
vermelho
azul
['amarelo', 'roxo', 'rosa']

In [ ]:
# If the asterisk is added to another variable name than the last,
# Python will assign values to the variable until the number of values left matches the number of variables left.
colors = ("vermelho", "azul", "amarelo", "roxo", "rosa")
print(colors)
(red, *resto, pink) = colors
print(red)
print(pink)
print(resto)

('vermelho', 'azul', 'amarelo', 'roxo', 'rosa')
vermelho
rosa
['azul', 'amarelo', 'roxo']

# For Loop through the Lists | Tuple | Sets | Dictionaries

In [ ]:
frutas = ["maça","goiaba","babana"]
animais = ("gato", "papagaio", "avestruz")
cores = {"azul", "amarelo", "rosa"}
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
family = {
    'child1': {
      "name" : "Linus",
      "year" : 2011
    },
    'child2': {
      "name" : "Tobias",
      "year" : 2007
    }
}

In [ ]:
print("Loop into Lists")
for x in frutas:
  print(x)

print("\nLoop into Tuple")
for x in animais:
  print(x)

print("\nLoop into Sets")
for x in cores:
  print(x)

print("\n Loop into Dictionary")
for x in car:
  print(x, car[x])

Loop into Lists
maça
goiaba
babana

Loop into Tuple
gato
papagaio
avestruz

Loop into Sets
rosa
azul
amarelo

 Loop into Dictionary
brand Ford
model Mustang
year 1964

### Dictionaries

In [ ]:
print("\n Loop into values of Dictionary")
for x in car.values():
  print(x)

print("\n Loop into keys of Dictionary")
for x in car.keys():
  print(x)

print("\n Loop into items of Dictionary")
for x, y in car.items():
  print(x, y)

 Loop into values of Dictionary
Ford
Mustang
1964

 Loop into keys of Dictionary
brand
model
year

 Loop into items of Dictionary
brand Ford
model Mustang
year 1964

In [ ]:
# Loop through the keys and values of all nested dictionaries
for x, obj in family.items():
  print(x, type(obj))
  for k, c in obj.items():
    print(k, c)

child1 <class 'dict'>
name Linus
year 2011
child2 <class 'dict'>
name Tobias
year 2007

### Using range

In [ ]:
print("Loop in Lists")
for i in range(len(frutas)):
  print(i, frutas[i])

print("\nLoop in Tuple")
for i in range(len(animais)):
  print(i, animais[i])

print("\nLoop in Sets")
try:
  for i in range(len(cores)):
    print(i, cores[i])
except Exception as e:
  print(e, 'Sets não tem indices')

Loop in Lists
0 maça
1 goiaba
2 babana

Loop in Tuple
0 gato
1 papagaio
2 avestruz

Loop in Sets
'set' object is not subscriptable

In [ ]:
print("Loop in Lists")
for i, fruta in enumerate(frutas):
  print(i, fruta)

Loop in Lists
0 maça
1 goiaba
2 babana

# While Loops

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# List (Tuple) Comprehension

In [ ]:
print("List Comprehension")
print(frutas)
nova = [x for x in frutas]
print(nova)

print("\nTuples Comprehension")
print(animais)
nova = [x for x in animais]
print(nova)

print("\nSet Comprehension")
print(cores)
nova = [x for x in cores]
nova

List Comprehension
['maça', 'goiaba', 'babana']
['maça', 'goiaba', 'babana']

Tuples Comprehension
('gato', 'papagaio', 'avestruz')
['gato', 'papagaio', 'avestruz']

Set Comprehension
{'azul', 'amarelo', 'rosa'}

['azul', 'amarelo', 'rosa']

In [ ]:
# Usando funções
print(animais)
new = [x.upper() for x in animais]
print(new)

Tuple Comprehension
('gato', 'papagaio', 'avestruz')
['GATO', 'PAPAGAIO', 'AVESTRUZ']

In [ ]:
# Usando uma Condição - não é possível usar o else nesse caso
new = [x for x in names if "a" in x]
print(new)

['Ana', 'Maria', 'Jalal', 'Darci', 'Marcio', 'Heloisa', 'Fernando']

In [ ]:
# Usando uma expressão
# ways to manipulate the outcome are condiderad expressions, not conditions even if it is a condition
new = [x if "a" in x else "no" for x in names]
print(new)

['Ana', 'no', 'no', 'Maria', 'Jalal', 'Darci', 'Marcio', 'Heloisa', 'Fernando']

In [ ]:
# Usando expressão
def change(name):
  return name.lower()
new = [change(x) for x in names]
print(new)

['ana', 'josé', 'joel', 'maria', 'jalal', 'darci', 'marcio', 'heloisa', 'fernando']

In [ ]:
# Usando Iterable
 [x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Usando Iterable
new = [str(i)+': '+x for i, x in enumerate(names)]
print(new)

['0: Ana', '1: José', '2: Joel', '3: Maria', '4: Jalal', '5: Darci', '6: Marcio', '7: Heloisa', '8: Fernando']

# Functions

## Keyword Arguments

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

## Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly

In [ ]:
def my_function(*kids):
  print(f"You passed {len(kids)} arguments")

my_function("Emil", "Tobias", "Linus")

You passed 3 arguments

## Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Silva")

His last name is Silva

## Positional-Only vs Keyword-Only arguments

You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.

To specify that a function can have **only positional arguments**, add **, /** after the arguments

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)

try:
  my_function(x = 3)
except Exception as e:
  print(e)

3
my_function() got some positional-only arguments passed as keyword arguments: 'x'

To specify that a function can have **only keyword arguments**, add *, before the arguments

In [ ]:
def my_function(*, x):
  print(x)

my_function(x = 3)
try:
  my_function(3)
except Exception as e:
  print(e)

3
my_function() takes 0 positional arguments but 1 was given

You can combine the two argument types in the same function.

Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

## Recursion

In [ ]:
loop = 0
def tri_recursion(k):

  global loop
  loop += 1
  print('loop', loop, 'k', k)

  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
loop 1 k 6
loop 2 k 5
loop 3 k 4
loop 4 k 3
loop 5 k 2
loop 6 k 1
loop 7 k 0
1
3
6
10
15
21

21

## Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression

In [ ]:
my_lambda = lambda x : x + 10
print(my_lambda(5))

my_lambda = lambda a, b : a * b
print(my_lambda(5, 6))

15
30

Use that function definition to make a function that always doubles the number you send in.

É dificil de entender esses exemplos a primeira vista... myfunc retorna uma lambda que multiplica 2 valores: o valor passado para lambda x o valor passado para myfunc.

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))