<a href="https://colab.research.google.com/github/heloisafr/python/blob/main/Python_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Pyhton

Some topic here are superficial, such as: Datetime, Json

# Iterators

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods `__iter__()` and `__next__()`.

Fonte:
 * https://python.land/deep-dives/python-iterator
 * https://www.w3schools.com/python/python_iterators.asp

Lists, tuples, dictionaries, Sets, Range and  Strings are all iterable objects.

All these objects have a `iter()` method which is used to get an iterator

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

mystr = "uva"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry
u
v
a

## Create a Iterator

The `__iter__()` method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

The `__next__()` method also allows you to do operations, and must return the next item in the sequence

In [ ]:
class MyCounter:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyCounter()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

To prevent the iteration from going on forever, we can use the **StopIteration** statement.

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 10:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10

# Modules

In [ ]:
# Importando um modulo do pyhton como exemplo
# platform:  Access to platformâ€™s identifying data
import platform

x = platform.system()
print(x)

Linux

In [ ]:
# list all the function names (or variable names) in a module
dir(platform)[0:10]

['_Processor',
 '_WIN32_CLIENT_RELEASES',
 '_WIN32_SERVER_RELEASES',
 '__builtins__',
 '__cached__',
 '__copyright__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__']

# Datetime

https://docs.python.org/3/library/datetime.html

https://www.w3schools.com/python/python_datetime.asp

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)
print(x.year, type(x.year))
print(x.strftime("%Y"), type(x.strftime("%Y")))

2024-05-17 01:12:24.530997
2024 <class 'int'>
2024 <class 'str'>

## Create Date Objects

In [ ]:
x = datetime.datetime(2020, 5, 17)
print(x)

x = datetime.datetime(2020, 5, 17, 1, 15, 30)
print(x)

2020-05-17 00:00:00
2020-05-17 01:15:30

## Formating Date

In [ ]:
x = datetime.datetime.fromisoformat('2011-11-04T00:05:23+04:00')
print("Weekday, short version", x.strftime("%a"))
print("Weekday, full version", x.strftime("%A"))
print("Weekday as a number 0-6, 0 is Sunday", x.strftime("%w"))
print("ISO 8601 weekday (1-7)", x.strftime("%u"))
print("Day of month 01-31", x.strftime("%d"))
print("Month name, short version", x.strftime("%b"))
print("Month name, full version", x.strftime("%B"))
print("Month as a number 01-12", x.strftime("%m"))
print("Year, short version, without century", x.strftime("%y"))
print("Year, full version", x.strftime("%Y"))
print("ISO 8601 year", x.strftime("%G"))
print("Hour 00-23", x.strftime("%H"))
print("Hour 00-12", x.strftime("%I"))
print("AM/PM", x.strftime("%p"))
print("Minute 00-59", x.strftime("%M"))
print("Second 00-59", x.strftime("%S"))
print("Microsecond 000000-999999", x.strftime("%f"))

Weekday, short version Fri
Weekday, full version Friday
Weekday as a number 0-6, 0 is Sunday 5
ISO 8601 weekday (1-7) 5
Day of month 01-31 04
Month name, short version Nov
Month name, full version November
Month as a number 01-12 11
Year, short version, without century 11
Year, full version 2011
ISO 8601 year 2011
Hour 00-23 00
Hour 00-12 12
AM/PM AM
Minute 00-59 05
Second 00-59 23
Microsecond 000000-999999 000000

In [ ]:
print("Century", x.strftime("%C"))
print("Day number of year 001-366", x.strftime("%j"))
print("Week number of year, Sunday as the first day of week, 00-53", x.strftime("%U"))
print("Week number of year, Monday as the first day of week, 00-53", x.strftime("%W"))
print("ISO 8601 weeknumber (01-53)", x.strftime("%V"))
print("UTC offset", x.strftime("%z"))
print("Timezone", x.strftime("%Z"))
print("Local version of date and time", x.strftime("%c"))
print("Local version of date", x.strftime("%x"))
print("Local version of time", x.strftime("%X"))
print("The caracter %", x.strftime("%%"))

Century 20
Day number of year 001-366 308
Week number of year, Sunday as the first day of week, 00-53 44
Week number of year, Monday as the first day of week, 00-53 44
ISO 8601 weeknumber (01-53) 44
UTC offset +0400
Timezone UTC+04:00
Local version of date and time Fri Nov  4 00:05:23 2011
Local version of date 11/04/11
Local version of time 00:05:23
The caracter % %

# Python Math

Since are 63 buil-in functions, here we have some examples

https://www.w3schools.com/python/module_math.asp

In [ ]:
import math

len(dir(math))

63

### Rounding Numbers

In [ ]:
x = math.ceil(1.4)
y = math.floor(1.4)
z = round(1.4)

print('1.4')
print('ceil', x)
print('floor', y)
print('round', z)

x = math.ceil(1.5)
y = math.floor(1.5)
z = round(1.5)

print('\n1.5')
print('ceil', x)
print('floor', y)
print('round', z)

x = math.ceil(1.6)
y = math.floor(1.6)
z = round(1.6)

print('\n1.6')
print('ceil', x)
print('floor', y)
print('round', z)

1.4
ceil 2
floor 1
round 1

1.5
ceil 2
floor 1
round 2

1.6
ceil 2
floor 1
round 2

### Math.fsum

Returns the sum of all items in any iterable (tuples, arrays, lists, etc.)

In [ ]:
# Returns the sum of all items in any iterable (tuples, arrays, lists, etc.)
x = [1,2,3,4]
math.fsum(x)

10.0

### Math.floor x Modulo x Divmod

The official Python docs suggest using math.fmod() over the Python modulo operator when working with float values because of the way math.fmod() calculates the result of the modulo operation.

https://realpython.com/python-modulo-operator/#python-modulo-operator-basics

In [ ]:
print(math.fmod(7, 2))
print(7 % 2)
print(divmod(7, 2)) # Returns the result of division and the modulo

1.0
1
(3, 1)

# Json

https://www.w3schools.com/python/python_json.asp

In [ ]:
import json

## Parse JSON

In [ ]:
# String to Json
x =  '{"name":"John", "age":30, "city":"New York"}'
y = json.loads(x)
print(y)
print(type(y))

{'name': 'John', 'age': 30, 'city': 'New York'}
<class 'dict'>

In [ ]:
# JSON to String
# Use the indent parameter to define the numbers of indents
# Use the sort_keys parameter to specify if the result should be sorted or not
# Use the separators parameter to change the default separators
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}
y = json.dumps(x, indent=4,, sort_keys=True separators=(", ", " : "))
print(y)
print(type(y))

{
    "age" : 30,
    "city" : "New York",
    "name" : "John"
}
<class 'str'>

You can convert Python objects of the following types, into JSON strings:

  dict,     list,  tuple,
    string,
    int,
    float,
    True,
    False,
    None

In [ ]:
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null